<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alquran word by word</title>
        {% load staticfiles %}


        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/morrisjs/morris.css" %}" rel="stylesheet">
    <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">
        <link href="{% static "dist/css/custom.css" %}" rel="stylesheet">


    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Quran</a>
            </div>
            <!-- /.navbar-header -->



            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% for sura in suras %}
                        <li>

                            <a href="/{{ sura.index }}/1"  {% if ayat.sura.index == sura.index %}class="active"{% endif %}><i class=""></i> {{ sura.index }} {{ sura.kazakh_name }}
                                {% if sura.completed %}
                                <span class="fa fa-check"></span>
                                {% endif %}</a>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ ayat.sura.index }}:{{ ayat.index_to_surah }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <h4>{{ ayat.arab }}</h4>
                    <h4>{{ ayat.trans }}</h4>
                    <h4>{{ ayat.kazakh }}</h4>
                    <h4>{{ ayat.russian }}</h4>
                    <h4>{{ ayat.eng }}</h4>
                    <input type="text">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Қазақ</th>
                                    <th class="col-md-6">Орыс</th>
                                    <th class="col-md-2">Ағылшын</th>
                                    <th class="col-md-1">Араб</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for word in words %}
                                <tr><form action="#" method="post" onsubmit="loadVal({{ word.index_to_quran }});">{% csrf_token %}
                                    <td>
                                         <div class="editor" id="editor{{ word.index_to_quran }}">
      {{ word.qazaq|safe }}    </div>
    <input type="hidden" name="kazakh" class="form-control" id="qaz{{ word.index_to_quran }}" value="">
        <input type="hidden" name="word_index" value="{{ word.index_to_quran }}">

</td>


                                    <td>
                                        <div class="editor" id="ruseditor{{ word.index_to_quran }}">
      {{ word.rus|safe }}    </div>
                                        <input type="hidden" class="form-control" name="russian"  id="rus{{ word.index_to_quran }}" value="{{ word.rus }}" placeholder="hm"></td>
                                        <td><p class="form-control-static">{{ word.eng }}</p></td>
                                    <td><h4>{{ word.arab }} <button class="btn btn-success btn-sm" type="submit">✓</button></h4>
</td></form>
                                </tr>
                                {% endfor %}
                             </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">
                     <div class="panel-body">
                        <div class="list-group">
                            {% for ayah in ayahs %}
                            <a href="/{{ ayah.sura.index }}/{{ ayah.index_to_surah }}" class="list-group-item {% if ayah == ayat %}active{% endif %}">
                                {% if ayah.completed %}
                                <i class="fa fa-check"></i>
                                {% endif %}
                                 {{ ayah.index_to_surah}} {{ ayah.kazakh }}
                            </a>
                            {% endfor %}
                        </div>
                        <!-- /.list-group -->
                        <form action="/ayat" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="ayat" value="{{ ayat.index_to_quran }}">
                            <button type="submit" class="btn btn-default btn-block">Аят толық аударылды</button>
                        </form>
                        <br>
                        <form action="/sure" method="post">
                            {% csrf_token %}
                        <input type="hidden" name="sure" value="{{ ayat.sura.index }}">


                        <button type="submit" class="btn btn-default btn-block">Сүре толық аударылды</button>
                                                </form>

                    </div>

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        <link href="{% static "vendor/jquery/jquery.min.js" %}" rel="stylesheet">

        <link href="{% static "vendor/bootstrap/js/bootstrap.min.js" %}" rel="stylesheet">
        <link href="{% static "vendor/metisMenu/metisMenu.min.js" %}" rel="stylesheet">
        <link href="{% static "vendor/raphael/raphael.min.js" %}" rel="stylesheet">
        <link href="{% static "vendor/morrisjs/morris.min.js" %}" rel="stylesheet">
        <link href="{% static "data/morris-data.js" %}" rel="stylesheet">
        <link href="{% static "dist/js/sb-admin-2.js" %}" rel="stylesheet">

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script>
          $('#editor').wysiwyg();
           $('#editor').cleanHtml()

    </script>


    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
                <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendor/metisMenu/metisMenu.min.js" %}"></script>

        <script src="{% static "vendor/raphael/raphael.min.js" %}"></script>
        <script src="{% static "vendor/morrisjs/morris.min.js" %}"></script>
        <script src="{% static "data/morris-data.js" %}"></script>
        <script src="{% static "dist/js/bootstrap-wysiwyg.js" %}"></script>
        <script src="{% static "dist/js/jquery.hotkeys.js" %}"></script>
        <script src="{% static "dist/js/custom.js" %}"></script>






</body>

</html>
